@import '../../styles/_colors';
@import '../../styles/_fonts';

.Hero {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1% 10%;
    &__info {
        flex-basis: 30%;
        min-width: 300px;
        margin-bottom: 2rem;
        & > h1 {
            font-family: $font-secondary;
            font-size: 2.5rem;
            margin-block-end: 0.5rem;
        }
        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    &__title {
        font-family: $font-secondary;
        margin-bottom: 2em;
    }
    &__icon {
        margin-right: 1rem;
    }
    &__link {
        text-decoration: none;
        color: $color-secondary;
        font-size: 1.25rem;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
    &__image {
        flex-basis: 60%;
        min-width: 300px;
    }
}