@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Noto Sans JP', sans-serif;