@import '../../styles/_colors';

.Footer {
    align-items: baseline;
    background-color: $color-base;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5% 10%;
    &__link {
        color: $color-secondary;
        margin: 0 0.5rem;
        text-decoration: none;
        &:hover {
            color: $color-primary;
            text-decoration: underline;
        }
    }
    &__info {
        margin: 1rem;
    }
}