@import '../../styles/_colors';

.Descriptions {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    justify-content: space-evenly;
    padding: 2rem 0;
    min-height: 10rem;
    &__item {
        text-align: justify;
        margin: 0 1rem;
        flex-basis: 25%;
        min-width: 300px;
    }
    &__year::after {
        content: "•";
        height: 2px;
        margin-left: 1rem;
        top: 50%;

    }
}